
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image{
    /*position: absolute;*/
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .h1{
    font-size: 1em;
    z-index: 2;
    text-shadow: 1px2px2px#000;
  }
  .header{
    display: block;
    height: auto;
  }
  .header ol{
    display: initial;
  }
  .header ol li{
    height: 50px;
  }
  .header a{
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
  .logo{
    text-align: center;
  }
  .menu{
    position: fixed;
    background: rgba(152, 32, 70, 0.9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /*height: 100vh;*/
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active{
    left: 0;
  }
  .project{
    display: block;
  }
  .project-details{
    width: auto;
    font-size: 16px ;
  }
  .project-imagecontainer{
    width: auto;
    text-align: center;
  }
  .project-title{
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .project-framework{
    font-size: 1.2em;
  }
  .project-date{
    font-size: 1em;
  }
  .project-description{
    font-size: .8em; 
  }
  .project-framework, .project-date, .project-description{
    margin: .4em 0;
  }
  .experience{
    display: block;
  }
  .experience-detail{
    margin: .5em .5em;
    padding: .5em;
    font-size: 1em;
  }
  .experience-title{
    font-size: 1.5em;
  }
  .contact{
    height: auto;
    display: block;
    padding: 1.5em 0;
    text-align: center;
  }
  .form-email button{
    margin: 1em auto;
  }
.burger-button{
display: block;
}